<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>webls: {{path}}</title>
    <style>
      % include('main.css')
    </style>
  </head>
  <body>
    % include('crumbs.html')
    % if not entries:
      <main class="warning">
        <div class="message">directory is empty</div>
        <br>
        <p class="path">{{path}}</p>
      </main>
    % else:
      <main>
        <table>
          <thead>
            <tr>
              <th class="entry-mode xs-hide">mode</th>
              <th class="entry-size xs-hide">size</th>
              <th class="entry-name">name</th>
              <th class="entry-action"></th>
            </tr>
          </thead>
          <tbody>
            % for entry in entries:
              <tr class="entry">
                <td class="entry-mode xs-hide">
                  {{entry['mode']}}
                </td>
                <td
                  class="entry-size xs-hide"
                  title="{{entry['size_bytes']}} bytes"
                >
                  {{entry['size_pretty']}}
                </td>
                <td class="entry-name" title="{{entry['name']}}">
                  <a class="{{entry['entry_class']}}" href="{{entry['url']}}">{{entry['name']}}</a>
                  % if entry['is_symlink']:
                    -&gt;
                    <span class="{{entry['symlink_class']}} symlink-path">
                     {{entry['symlink_path']}}
                    <span>
                  % end
                </td>
                <td class="entry-action">
                  % if not entry['is_dir']:
                    <a
                      class="dl-btn"
                      href="{{entry['dl_url']}}"
                      target="_blank"
                      title="download"
                    >
                      &#8623;
                    </a>
                  % end
                </td>
              </tr>
            % end
          </tbody>
        </table>
      </main>
    % end
  </body>
</html>
