<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>webls: {{web_path}}</title>
    % include('styles.html')
  </head>
  <body>
    <main>
      <h1><code>{{web_path}}</code></h1>
      % if not entries:
        <p>directory is empty</p>
      % else:
        <ul>
          % for entry in entries:
            <li>
              <a href="{{entry['url']}}">{{entry['name']}}</a>
            </li>
          % end
        </ul>
      % end
    </main>
  </body>
</html>
