<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>webls: {{web_path}}</title>
    % include('styles.html')
  </head>
  <body>
    <main>
      <h1><code>{{web_path}}</code></h1>
      % if not entries:
        <p>directory is empty</p>
      % else:
        <table>
          <thead>
            <tr>
              <th class="th-mode">mode</th>
              <th class="th-size">size</th>
              <th class="th-entry">entry</th>
              <th class="th-action"></th>
            </tr>
          </thead>
          <tbody>
            % for entry in entries:
              <tr class="entry">
                <td class="entry-mode">
                  {{entry['mode']}}
                </td>
                <td class="entry-size" title="{{entry['size_bytes']}} bytes">
                  {{entry['size_pretty']}}
                </td>
                <td class="entry-name" title="{{entry['name']}}">
                  <a class="{{entry['link_class']}}" href="{{entry['url']}}">
                    {{entry['name']}}
                  </a>
                </td>
                <td class="entry-action">
                  % if not entry['is_dir']:
                    <a
                      class="dl-btn"
                      href="{{entry['dl_url']}}"
                      target="_blank"
                      title="download"
                    >
                      &#8623;
                    </a>
                  % end
                </td>
              </tr>
            % end
          </tbody>
        </table>
      % end
    </main>
  </body>
</html>
