<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>webls: {{path}}</title>
    <style nonce="f8f2ec78">
      % include('highlight.css')
    </style>
    <style nonce="23228fbd">
      % include('main.css')
    </style>
  </head>
  <body>
    % include('crumbs.html')
    % if can_display:
      % if display_type == 'text':
        <main class="text-container">
          {{!display_kwargs['highlighted']}}
        </main>
      % elif display_type == 'image':
        <main class="image-container">
          <img src="{{display_kwargs['url']}}" />
        </main>
      % elif display_type == 'audio':
        <main class="audio-container">
          <audio controls src="{{display_kwargs['url']}}"></audio>
        </main>
        <script>
          (function() {
            document.querySelector('audio').volume = 0.5;
          })();
        </script>
      % elif display_type == 'video':
        <main class="video-container">
          <video controls><source src="{{display_kwargs['url']}}" /></video>
        </main>
        <script>
          (function() {
            document.querySelector('video').volume = 0.5;
          })();
        </script>
      % elif display_type == 'pdf':
        <main class="pdf-container">
          <embed src="{{display_kwargs['url']}}" />
        </main>
      % else:
        <% raise NotImplementedError(display_type) %>
      % end
    % else:
      <main class="warning">
        <div class="message">{{warning_message}}</div>
      </main>
    % end
  </body>
</html>
