<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>webls: {{path}}</title>
    <style>
      % include('main.css')
    </style>
  </head>
  <body>
    % include('crumbs.html')
    % if can_display:
      <main class="pre-container">
        <pre>
          <div class="line-numbers">{{line_numbers}}</div>
          <div class="lines">{{file_content}}</div>
        </pre>
      </main>
    % else:
      <main class="warning">
        <div class="message">{{error_msg}}</div>
      </main>
    % end
  </body>
</html>
