* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  width: 748px;
  padding: 0px 10px;
  margin: 0px auto;
  font-family: monospace;
  font-size: 14px;
}

code {
  background-color: #e1e3e8;
  border-radius: 5px;
  padding: 3px 7px;
}

nav {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

nav > div.crumbs > span {
  display: inline-block;
  padding: 5px 0px;
}

nav > div.crumbs > span:not(:last-child)::after {
  content: "/";
  padding: 0px 3px;
}

main {
  padding-bottom: 30px;
  flex: 1 1 auto;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

thead {
  background-color: #b8e2f5;
  position: sticky;
  top: 0px;
}

th {
  padding: 13px 10px;
}

td {
  padding: 8px 10px;
}

tbody > tr:nth-of-type(even) {
  background-color: #edeef2;
}

.text-container {
  overflow: scroll;
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.image-container,
.image-container > img {
  height: 95%;
}

.image-container > img {
  width: 100%;
  object-fit: contain;
  object-position: 50% top;
}

.audio-container > audio {
  width: 100%;
}

.video-container,
.video-container > video {
  height: 95%;
}

.video-container > video {
  width: 100%;
}

.pdf-container > embed {
  width: 100%;
  height: 100%;
}

pre {
  display: flex;
}

pre > .line-numbers {
  text-align: right;
  padding-right: 7px;
  color: #b5b5b5;
}

.warning {
  flex: unset;
  text-align: center;
  background-color: #ffdd99;
  padding: 20px;
}

.warning > .path {
  color: red;
}

.error {
  flex: unset;
  text-align: center;
  background-color: #ffc0c0;
  padding: 20px;
}

.error > .path {
  color: red;
}

.is-dir,
.is-file,
.is-symlink,
.is-symlink-broken,
.is-socket,
.is-fifo,
.is-char-device,
.is-block-device {
  text-decoration: none;
}

.is-dir:hover,
.is-file:hover {
  text-decoration: underline;
}

.symlink-path:hover {
  text-decoration: none;
}

.is-dir,
.is-symlink,
.is-symlink-broken,
.is-socket,
.is-char-device,
.is-block-device {
  font-weight: bold;
}

.is-dir {
  color: #3465a4;
}

.is-file {
  color: #181818;
}

.is-symlink {
  color: #06989a;
}

.is-symlink-broken {
  color: #ef2929;
}

.is-socket {
  color: #75507b;
}

.is-fifo,
.is-char-device,
.is-block-device {
  color: #c4a000;
}

.entry:hover {
  background-color: #ffdd99;
}

.entry-mode {
  text-align: left;
  width: 90px;
}

.entry-size {
  text-align: right;
  width: 55px;
}

.entry-name {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.entry-action {
  text-align: center;
  width: 25px;
}

.dl-btn {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  background-color: #bfe8cf;
  padding: 4px 8px;
  border: 1px black solid;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  body {
    width: calc(100% - 20px);
  }

  .pre-container {
    max-height: 700px;
  }
}

@media screen and (max-width: 576px) {
  .xs-hide {
    display: none;
  }
}
